extends layout

block content
    h1 Feature Toggles
    form(action="/featureToggles" method='POST')
        each feature in featureToggles.getAll()
            tr
                td
                    input(type='checkbox' checked=featureToggles.getValue(feature) name=`${feature}`)
                td
                    p= feature
        input(type='submit' value='Update')