extends layout

block content
    h1 Feature Toggles
    form(action="/featureToggles" method='POST')
        each feature in featureToggles.getAll()
            div(class='table_row')
                tr
                    td
                        input(type='checkbox' checked=featureToggles.getValue(feature) name=`${feature}` class='checkbox')
                    td= feature
        input(type='submit' value='Update' class='submit')